[Desktop Entry]
Version=1.0
Name=STAKECUBE Core
Comment=STAKECUBE P2P Cryptocurrency
Comment[fr]=STAKECUBE, monnaie virtuelle cryptographique pair à pair
Comment[tr]=STAKECUBE, eşten eşe kriptografik sanal para birimi
Exec=stakecube-qt %u
Terminal=false
Type=Application
Icon=stakecube128
MimeType=x-scheme-handler/stakecube;
Categories=Office;Finance;
StartupWMClass=Stakecube-qt
