
## <summary>policy for stakecube</summary>


########################################
## <summary>
##	Transition to stakecube.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`stakecube_domtrans',`
	gen_require(`
		type stakecube_t, stakecube_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, stakecube_exec_t, stakecube_t)
')


########################################
## <summary>
##	Execute stakecube server in the stakecube domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`stakecube_initrc_domtrans',`
	gen_require(`
		type stakecube_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, stakecube_initrc_exec_t)
')


########################################
## <summary>
##	Search stakecube lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`stakecube_search_lib',`
	gen_require(`
		type stakecube_var_lib_t;
	')

	allow $1 stakecube_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read stakecube lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`stakecube_read_lib_files',`
	gen_require(`
		type stakecube_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, stakecube_var_lib_t, stakecube_var_lib_t)
')

########################################
## <summary>
##	Manage stakecube lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`stakecube_manage_lib_files',`
	gen_require(`
		type stakecube_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, stakecube_var_lib_t, stakecube_var_lib_t)
')

########################################
## <summary>
##	Manage stakecube lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`stakecube_manage_lib_dirs',`
	gen_require(`
		type stakecube_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, stakecube_var_lib_t, stakecube_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a stakecube environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`stakecube_admin',`
	gen_require(`
		type stakecube_t;
		type stakecube_initrc_exec_t;
		type stakecube_var_lib_t;
	')

	allow $1 stakecube_t:process { ptrace signal_perms };
	ps_process_pattern($1, stakecube_t)

	stakecube_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 stakecube_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, stakecube_var_lib_t)

')

